<!-- タブナビゲーション -->
<ul class="nav nav-pills nav-fill" id="itemTabs" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="using-tab" data-bs-toggle="tab"  data-bs-target="#using" role="tab" aria-controls="using" aria-selected="true">使用中</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="recommended-tab" data-bs-toggle="tab" data-bs-target="#recommended" role="tab" aria-controls="recommended" aria-selected="false">交換推奨</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="completed-tab" data-bs-toggle="tab" data-bs-target="#completed" role="tab" aria-controls="completed" aria-selected="false">交換完了</a>
  </li>
</ul>

<!-- タブコンテンツ -->
<div class="tab-content" id="itemTabsContent">
  <!-- 使用中 -->
  <div class="tab-pane fade show active" id="using" role="tabpanel" aria-labelledby="using-tab">
    <%= render 'items_table', items: @items.using %>
  </div>

  <!-- 交換推奨 -->
  <div class="tab-pane fade" id="recommended" role="tabpanel" aria-labelledby="recommended-tab">
    <%= render 'items_table', items: @items.recommended %>
  </div>

  <!-- 交換完了 -->
  <div class="tab-pane fade" id="completed" role="tabpanel" aria-labelledby="completed-tab">
    <%= render 'items_table', items: @items.completed %>
  </div>
</div>
